<%= form_with model: task, local: true do |f| %>

  <div class="field">
    <%= f.label :purpose, "追加するタスク" %><br />
    <%= f.text_field :purpose %>
  </div>

    <div class="field">
    <%= f.label :start_time, "タスク開始時間" %><br />
    <%= f.datetime_select :start_time %>
  </div>



  <div class="actions">
    <%= f.submit "追加する", class: :form__btn %>
  </div>

<% end %>
